@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar thumb color for both X and Y axis */
.scrollbar-div::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed for the vertical scrollbar */
  height: 10px; /* Adjust the height as needed for the horizontal scrollbar */
}

.scrollbar-div::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 10px; /* Adjust the border-radius value as needed */
}

.scrollbar-div::-webkit-scrollbar-track {
  background: #E5E7EB;
}
